{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="mb-3">로그인</h3>
    <form method="post" class="row g-2">
      <div class="col-12">
        <input class="form-control" name="username" placeholder="아이디" required autofocus>
      </div>
      <div class="col-12">
        <input class="form-control" type="password" name="password" placeholder="비밀번호" required>
      </div>
      <div class="col-12">
        <button class="btn btn-primary w-100">로그인</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
